registry-artifacts/fulfillment.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/s2/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="s2" targetNamespace="http://www.example.org/s2/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/s2/">

      <xsd:element name="FulfillmentRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element type="xsd:string" name="Type"/>
            <xsd:element type="xsd:string" name="ClientId"/>
            <xsd:element type="xsd:string" name="SystemId"/>
            <xsd:element name="Device">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element type="xsd:string" name="Brand"/>
                  <xsd:element type="xsd:string" name="Model"/>
                  <xsd:element type="xsd:string" name="Size"/>
                  <xsd:element type="xsd:string" name="Color"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="FulfillmentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element type="xsd:string" name="Status"/>
            <xsd:element type="xsd:string" name="Identifier"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="S2OperationRequest">
    <wsdl:part element="tns:FulfillmentRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="S2OperationResponse">
    <wsdl:part element="tns:FulfillmentResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="s2">
    <wsdl:operation name="S2Operation">
      <wsdl:input message="tns:S2OperationRequest"/>
      <wsdl:output message="tns:S2OperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="s2SOAP" type="tns:s2">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="S2Operation">
      <soap:operation soapAction="http://www.example.org/s2/S2Operation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="s2">
    <wsdl:port binding="tns:s2SOAP" name="s2SOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
